body {
    margin: 0px;
    background-color: #eeeeee;
}

embed {
    margin: 0px;
    width: 100%;
    height: 67.4px;
    animation: translateDown ease 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: absolute; 
    top: 0;
}

h1 {
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
    font-size: 80px;
    padding-top: 120px;
    margin-top: 0px;
    margin-bottom: 10px;
    animation: fadeIn1 ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h2 {
    font-family: 'Spartan', sans-serif;
    font-weight: lighter;
    color: rgb(137, 137, 137);
    font-size: 30px;
    animation: fadeIn2 ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h3 {
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
    font-size: 55px;
    margin-top: 16px;
    margin-bottom: 16px;
}

p {
    font-family: 'Spartan', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: 130%;
}

b {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
}

.button_square {
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    background-color: rgb(220, 220, 220);
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    transition: 0.2s ease;
} .button_square:hover {
    background-color: rgb(205, 205, 205);
}

.p_about {
    width: 75%;
}

.flex_socials {
    animation: fadeIn3 ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.flex_textbox {
    display: flex;
    background-color: rgb(227, 227, 227);
    border-radius: 15px;
    margin: 5px;
    max-height: 40px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.button_social {
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
    background: none;
    border: none;
    transition: 0.2s ease;
} .button_social:hover {
    opacity: 0.5;
}

.img_span {
    width: 100%;
}