header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 80px;
    height: 36px;
    background: #f6f6f6;
    box-shadow: 5px 5px 10px rgb(208, 208, 208);
    font-size: 30px;
}

body {
    margin: 0px;
    overflow: hidden;
}

.header_button {
    border: none;
    background: none;
    color: rgb(132, 132, 132);
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    padding: 5px;
    margin-top: 3px;
}

.header_button:hover{
    color: rgb(23, 23, 23);
    transition: 0.25s;
}

.header_text1{
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    margin-left: 16px;
    margin-top: 6px;
}

.header_text2{
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: rgb(137, 137, 137);
    margin: 0px;
    margin-top: 8px;
}

.seperator {
    width: 6px;
    height: 6px;
    margin-top: 13px;
    margin-left: 16px;
    margin-right: 16px;
    display:block;
}

.u_header {
    text-underline-offset: 5px;
}