.button_square {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    background-color: rgb(220, 220, 220);
    color: black;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    transition: 0.2s ease;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
    background-color: rgb(248, 248, 248);
} .button_square:hover {
    background-color: rgb(240, 240, 240);
}

.button_wide {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    background-color: rgb(220, 220, 220);
    color: black;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    transition: 0.2s ease;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
    background-color: rgb(248, 248, 248);
} .button_wide:hover {
    background-color: rgb(240, 240, 240);
}

.button_icon {
    cursor: pointer;
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
    background: none;
    border: none;
    transition: 0.2s ease;
} .button_icon:hover {
    opacity: 0.5;
}

.button_icon_large {
    cursor: pointer;
    padding: 0;
    margin: 24px;
    background: none;
    color: black;
    border: none;
    transition: 0.2s ease;
} .button_icon_large:hover {
    opacity: 0.5;
}

.button_game {
    cursor: pointer;
    color: black;
    max-width: 1256px;
    width: 85%;    /* so that the mobile button fills the entire space */
    padding: 20px;
    margin: 8px;
    transition: 0.2s ease;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.075);
    background-color: rgb(248, 248, 248);
    transition: 0.2s ease;
} .button_game:hover {
    background-color: rgb(240, 240, 240);
}

.img_game {
    max-width:397px; 
    width:98%; 
    margin:4px; 
    border-radius:5px;
}

.button_game_small {
    cursor: pointer;
    zoom: 80%;
    max-width: 1256px;
    width: 100%;    /* so that the mobile button fills the entire space */
    color: black;
    padding: 20px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 8px;
    transition: 0.2s ease;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
    background-color: rgb(248, 248, 248);
    transition: 0.2s ease;
} .button_game_small:hover {
    background-color: rgb(240, 240, 240);
}

.button_art {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: black;
    margin: 4px;
    padding: 0px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: rgb(248, 248, 248);
    transition: 0.2s ease;
} .button_art:hover {
    opacity: 0.75;
}

.button_contact {
    border: none;
    border-radius: 5px;
    color: black;
    max-width: 1256px;
    width: 100%;    /* so that the mobile button fills the entire space */
    margin: 8px;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    background-color: rgb(248, 248, 248);
}

.img_art {
    max-width: 500px;
    width: 100%;
    border: none;
    border-radius: 5px 5px 0px 0px;
} .img_art:before{
    background-color: red;
}

.img_gallery {
    max-width:1000px; 
    width:100%; 
    margin-bottom:12px;
    border: none;
    border-radius: 5px;
}

.embed_video {
    aspect-ratio: 16 / 9;
    max-width: 100%;
    width: 1000px;
    margin-bottom: 12px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .button_game {
        width: auto;
    }
    .button_game_small {
        width: auto;
    }
}