body {
    background-color: #eeeeee;
}

.p_about {
    width: 75%;
}

.flex_socials {
    animation: fadeIn3 ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.flex_textbox {
    display: flex;
    background-color: rgb(227, 227, 227);
    border-radius: 15px;
    margin: 5px;
    max-height: 40px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.flex_game {
    cursor: pointer;
    color: black;
    max-width: 1256px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 16px;
    transition: 0.2s ease;
    border-radius: 5px;
    border: none;
} .flex_game:hover {
    background-color: rgb(224, 224, 224);
}