@keyframes fadeIn0 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeIn3 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeInHalf {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
     }
}

@keyframes translateDown {
    0% {
        transform: translate(0px, -50px);
    }
    100% {
        transform: translate(0px, 0px);
     }
}