.slideshow_container {
    display: flex;
    position: relative;
    max-width: 1256px;
}

.slideshow_slide {
    display: none;
    vertical-align: middle;     /* gets rid of small whitespace at bottom */
}

.prev, .next {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'Spartan', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.2s;
    user-select: none;
} .next {
    right: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
} .prev {
    left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} .next:hover, .prev:hover {
    background-color: rgba(0, 0, 0, 0.323);
    transition: 0.2s;
}

.caption {
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    text-shadow: 0px 0px 3px black;
    color: #efefef;
    position: absolute;
    padding-bottom: 14px;
    bottom: 8px;
    width: 100%;
}

.slideshow_dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.2s ease;
} .active, .slideshow_dot:hover {
    background-color: #717171;
}