@font-face { font-family: Spartan; src: url('fonts/LeagueSpartan-Regular.ttf'); }
@font-face { font-family: Spartan; font-weight: bold; src: url('fonts/LeagueSpartan-SemiBold.ttf');}
@font-face { font-family: Spartan; font-weight: bolder; src: url('fonts/LeagueSpartan-Bold.ttf');}
@font-face { font-family: Spartan; font-weight: normal; src: url('fonts/LeagueSpartan-Light.ttf');}
@font-face { font-family: Spartan; font-weight: lighter; src: url('fonts/LeagueSpartan-ExtraLight.ttf');}

h1 {
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
    font-size: 50px;
    margin-top: 120px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Spartan', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: rgb(137, 137, 137);
}

h3 {
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
    font-size: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}

h4 {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin: 0px;
}

h5 {
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
    color: rgb(137, 137, 137);
    font-size: 20px;
    margin: 0px;
    margin-top: 8px;
}

h6 {
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 12px;
}

h7 {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 10px;
}

h8 {
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
    color: rgb(137, 137, 137);
    font-size: 28px;
    margin: 0px;
    margin-top: 8px;
}

h9 {
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 0px;
    margin-top: 8px;
}

p {
    font-family: 'Spartan', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: 130%;
    margin-top: 0px;
}

b {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
}

a {
    color: rgb(155, 155, 155);
    font-weight: bold;
    transition: ease 0.25s;
}
a:hover{
    color: rgb(74, 74, 74);
}

/* Monitor size - above is mobile size */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 80px; 
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 55px;
    }
    h4 {
        font-size: 40px;
    }
    h5 {
        font-size: 28px;
    }
    h6 {
        font-size: 22px;
    }
    h7 {
        font-size: 50px;
    }
    h8 {
        font-size: 32px;
    }
    h9 {
        font-size: 32px;
    }
    p {
        max-width: 1000px;
    }
}
