@keyframes fadeIn0 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
} .anim_fadeIn0 {
    animation: fadeIn0 ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
} .anim_fadeIn1 {
    animation: fadeIn1 ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
} .anim_fadeIn2 {
    animation: fadeIn2 ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn3 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
} .anim_fadeIn3 {
    animation: fadeIn3 ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInHalf {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
     }
} .anim_fadeInHalf {
    animation: fadeInHalf ease 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moveDown {
    0% {
        transform: translate(0px, -50px);
    }
    100% {
        transform: translate(0px, 0px);
    }
} .anim_moveDown {
    animation: moveDown ease 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translate(0px, 300px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
} .anim_moveUp {
    animation: moveUp ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}